:root {
  --color-dark: #5e239d;
  --color-light: #0097a799;
  --color-highlight: #d9ead3;
  /* --color-highlight: #ec048b66; */
}

/*
  Reset
*/

* {
  box-sizing: border-box;
}

/*
  Layout
*/

html {
  margin: 20px;
  background-color: black;
  font-family: Nunito;
}

body {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-bottom: 20px;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 25px;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 3em;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

a {
  border-bottom: solid var(--color-highlight) 1px;
  box-shadow: inset 0 -1px var(--color-highlight);
  transition: background 0.25s ease-in-out;
}

a:hover {
  background: var(--color-highlight);
}

.left {
  float: left;
  margin-top: 5px;
}

.right {
  float: right;
  margin-top: 5px;
  text-align: right;
}

header .right {
  font-size: 110%;
}

header {
  margin-bottom: 0.5em;
}

section:not(:first-child) {
  margin-top: 0.5em;
}

.title {
  background-color: var(--color-light);
  border-radius: 0.5em;
  font-size: 110%;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  margin-bottom: 0.5em;
}

.sub {
  font-size: 100%;
  font-style: italic;
}

.section_content {
  clear: both;
  float: left;
}

main {
  display: flex;
  flex-flow: column wrap;
}

main section:last-of-type {
  border: 0;
  margin: 0;
  padding-bottom: 0;
}

/*
  Font-Awesome icons
*/

.fa-code {
  color: blue;
}

.fa-handshake-o {
  color: green;
}

.fa-music {
  color: orange;
}

.fa-headphones {
  color: red;
}

header .fa {
  margin-right: 5px;
  text-align: center;
  width: 40px;
}

header .right .fa {
  text-align: center;
  width: 50px;
}

.section_title .fa {
  margin-top: 5px;
  text-align: center;
  padding: 2px 0 2px 0;
  width: 30px;
}
